@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;800;900&display=swap");
@import "tailwindcss";

:root {
  --color-primary: #29a366;
  --color-secondary: #f59e0b;
  --color-accent: #dcfce7;

  --color-bg-light: #f4fbf4;
  --color-bg-dark: #14532d;
  --color-bg-muted: #e2e8f0;

  --color-text-primary: #064e3b;
  --color-text-secondary: #166534;
  --color-text-muted: #475569;
  --color-text-inverse: #ffffff;

  --font-display: "Tajawal", sans-serif;
  --font-body: "Tajawal", sans-serif;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-bg-light: var(--color-bg-light);
  --color-bg-dark: var(--color-bg-dark);
  --color-bg-muted: var(--color-bg-muted);
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-muted: var(--color-text-muted);
  --color-text-inverse: var(--color-text-inverse);
  --font-display: var(--font-display);
  --font-body: var(--font-body);
}

body {
  font-family: var(--font-body);
  direction: rtl;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}
